@import "../var.scss";

.mainpage {
  background: linear-gradient(to bottom, #59c173, #a17fe0, #5d26c1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  height: 100%;
}
.dashboard{
  overflow: auto;
  padding: 50px;
  min-height: 100%;
}

    .market-container{
        display: flex;
        flex-direction: row;
        height: 800px;
        padding-bottom: 50px;
        
      }
      .sidebar{
        padding-right: 150px;

      }  
      .trandingview{
          border: 3px solid white;
      }


  
    .card{
      padding: 100px;
      width: 400px;
      border-radius: 20px;
      background-color: #a17fe0;
    }

    .imginside{
      padding: 10px;

    }



    .site-footer{
      position: relative;
      text-align: center;
      background-color:  #6400cf;
      height: 100%;
      height: 75px;
      width:100%;
      }
      
    .footer-copyright{
      font-size: 20px;
      padding-top: 30px;
      text-align: center;
      justify-content: center;

    
    }
  .bonds{
    padding-top: 50px;
    padding-bottom: 75px;
  }
  .ant-select-selector {
    color: green;
  }
  .select{
    width: 500px;
  }
  .ant-slider-step{
    color: green;
  }
  
  .ant-slider {
    margin-bottom: 16px;
  }
  .ant-card-head-title{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
  }
  .card-leverage-slider{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .submit-box{
    width: 300px;
  }
.long-short-box{
  padding-bottom: 20px;
}
.slider-box{
  width: 500px;
  font-size: 20px;
}
.form{
  font-size: 20px;
}
.row-card{
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 20px;
}
.horizontal-cards{
  flex-direction: row;
  display: flex;
  justify-content: center;

}
.asset{
  padding-right: 20px;
}
.avatar{
  float: right;

}
