@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

$font: "Open Sans", sans-serif;

$mobile: 688px;
$tablet: 992px;
$medium: 1312px;

$grey-extra-light: #f2f2f2;
$grey-light: #e5e5e5;
$grey-mid: #999999;
$grey-dark: #666666;
$red: #e54848;
$green: #28a644;
